<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">

    <title>Product Page</title>
</head>

<body>
<div class="indexWrapper">

    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <h1 class="section-title">
                            <span class="left-handle"></span>
                            <span class="title-text">Product Page</span>
                            <span class="right-handle"></span>
                        </h1>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-item "><a href="index.html">Home</a></li>
                    <li class="nav-item "><a href="goods.html">Goods</a></li>
                    <li class="nav-item "><a href="cart.html">Cart</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html" id="loginPageHeader">
                        LoginPage
                    </a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container py-4 my-4 mx-auto d-flex flex-column">
            <div class="header">
                <div class="row r1">
                    <div class="col-md-9 abc">
                        <h1>Cake One with Chokilate</h1>
                    </div>
                    <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <p class="text-right para">Based on 22 Reviews</p>
                </div>
            </div>
            <div class="container-body mt-4">
                <div class="row r3">
                    <div class="col-5 p-0 klo">
                        <ul>
                            <li>100% Natural products</li>
                            <li>Free Shipping</li>
                            <li>Royal Chocolate Chip Banana</li>
                            <li>Lemon Zinger</li>
                            <li>Triple Chocolate Chip Brownies</li>
                            <li>Possibility to write notion</li>
                            <li>Normal Delivery : 1-2 Days</li>
                            <li>Express Delivery : 8 hours</li>
                        </ul>
                    </div>
                    <div class="col-7 ">
                        <img class="imageMainProduct" src="images/cake1.jpeg">
                    </div>
                </div>
            </div>
            <div class="footer d-flex flex-column mt-5">
                <div class="row r4">
                    <div class="col-md-2 myt des"><a href="#">Description</a></div>
                    <div class="col-md-2 myt "><a href="#">Review</a></div>
                    <div class="col-md-2 mio offset-md-4"><a href="#">ADD TO CART</a></div>

                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
            <a href="#"> HW Nix</a>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>
</html>