<body>

<div class="indexWrapper">
    <?php require_once (ROOT.'/App/View/header/header.php'); ?>
    <?php require_once (ROOT.'/App/View/nav/navCategory.php'); ?>

    <div id="app">
        <main>

            <cart-button
                    style="display:block;
                    margin:40px auto;
                    transform: scale(200%);
                    position: absolute">
            </cart-button>
            <router-view ></router-view>
            <products-list></products-list>
            <cart-modal></cart-modal>
        </main>
    </div>
</div>
<script src="/public/js/main.js"></script>
</body>
