/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/


.indexWrapper {
    width: 85%;
    margin: auto;
}

.navbar-header {
    display: flex;
    vertical-align: middle;
}

.navbar-nav {
    flex-direction: row;
}

.title-text {
    color: #ffffff;
    text-align: center;
    background-color: #862D34;
    padding: 0 16px;
}

.left-handle {
    padding-left: 47px;
    background: url("/App/View/images/title-handle-left.png") left center no-repeat;
    width: 48px;
    height: 40px;
}

.right-handle {
    padding-right: 47px;
    background: url("/App/View/images/title-handle-right.png") right center no-repeat;
}

.nav-item {
    margin: 1rem;
}

main, header, footer {
    outline: solid 1px lightgray;
}

.container .indexMainImage {
    width: 60%;
}

.indexArticle > p {
    text-align: center;
}

.loginForm {
    /*display: none;*/
    /*opacity: 0;*/
}

#restoreButton {
    margin-top: 3px
}

.active {
    display: block;
    transition: 2s;
    animation: show 2s;
    opacity: 1;

}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sideNav.right.col-2 {
    padding-right: 0;
    align-items: start;
}

.btnAddInfo {
    width: 100%;
    background: darkcyan;
}

.imageMainProduct:hover {
    transition: 0.6s;
    transform: scale(1.9);
}

.imageMainProduct {
    height: 80%;
}


/*old form styles*/
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.indexWrapper {
    width: 85%;
    margin: auto;
}

.navbar-header {
    display: flex;
    vertical-align: middle;
}

.navbar-nav {
    flex-direction: row;
}

.title-text {
    color: #ffffff;
    text-align: center;
    background-color: #862D34;
    padding: 0 16px;
}

.nav-item {
    margin: 1rem;
}

.container .indexMainImage {
    width: 100%;
}

.indexArticle > p {
    text-align: center;
}

.loginForm {
    /*display: none;*/
    /*opacity:0;*/
}

#loginHeader {
    margin-left: 10px;
}

.active {
    display: block;
    transition: 2s;
    animation: show 2s;
    opacity: 1;

}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sideNav {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sideNav .left, .sideNav .right {
    display: flex;
    align-items: center;
}
.sideNav .right {
    justify-content: flex-end;
}

.btnAddInfo {
    width: 100%;
    background: darkcyan;
}

.imageMainProduct:hover {
    transition: 0.6s;
    transform: scale(1.9);
}

.imageMainProduct {
    height: 80%;
}
.cardProduct{
    margin-bottom: 35px;

}

.card-title {
    color:darkblue;
}
.card-text{
    color: black;
}

.card-img-top {
    position: relative;
}

img.card-img-top {
    /*width: 60%;*/
    /*left: -70%;*/
    border: 1px grey solid;
}

#cartButton{
    position: sticky;
    top: 10%;
    transform: scale(200%);
    margin-left: 2%;
    z-index:20;
}

.btn {
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}