/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.indexWrapper {
    width: 85%;
    margin: auto;
}

.navbar-header {
    display: flex;
    vertical-align: middle;
}

.navbar-nav {
    flex-direction: row;
}

.title-text {
    color: #ffffff;
    text-align: center;
    background-color: #862D34;
    padding: 0 16px;
}

.left-handle {
    padding-left: 47px;
    background: url("../images/title-handle-left.png") left center no-repeat;
}

.right-handle {
    padding-right: 47px;
    background: url("../images/title-handle-right.png") right center no-repeat;
}

.nav-item {
    margin: 1rem;
}

.container .indexMainImage {
    width: 100%;
}

.indexArticle > p {
    text-align: center;
}

.loginForm {
    display: none;
    opacity:0;
}

.active {
    display: block;
    transition: 2s;
    animation: show 2s;
    opacity:1;

}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.sideNav {
    padding-right: 0;
}
.btnAddInfo{
    width: 100%;
    background: darkcyan;
}

.imageMainProduct:hover {
    transition: 0.6s;
    transform: scale(1.9);
}

.imageMainProduct {
    height: 80%;
}